node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.crt
*.mobileprovision
*.orig.*
web-build/
web-report/
.types

# macOS
.DS_Store

# private
.env

# build
build/
dist/

#test
coverage/**/*
